.torch-api-feed-app {
  text-align: center;
  font-family: 'Open Sans', -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 100%;
}
.torch-api-feed-app *::before,
.torch-api-feed-app *::after,
.torch-api-feed-app * {
  font-family: inherit;
  line-height: inherit;
  box-sizing: border-box;
}
.torch-api-feed-app p a{
  color: #FE954E !important;
  word-break: break-all;
 }
.torch-api-feed-app main{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 10px 0 !important;
  background-color: #f9f9f9;
}

.torch-api-feed-app-header {
  background-color: #282c34;
  padding:12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.torch-api-feed-app-link {
  color: #61dafb;
}
.torch-api-feed-app.clearfix::after,
.torch-api-feed-app .clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.torch-api-feed-app .post-thumbnail {
  max-width: 50%;
  max-width: calc(50% - 12px);
}

